<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
<connectionStrings>
	<add name="pubs" connectionString="Server=127.0.0.1;Port=5432;User Id=martin;Password=Pa$$W0rd;Database=Pubs;"></add>
</connectionStrings>
</configuration>